.homepage-hero-image-section {
  position: relative;
  overflow: hidden; }

.background-image-wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.homepage-hero-image {
  width: 100%; }

.homepage-featured-galleries-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #293c38;
  background-color: #f3edeb;
  min-height: 100vh;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 4rem 4rem;
  background-image: url("/images/splodge.png");
  background-position: center -500px;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.featured-galleries-section-heading {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.homepage-featured-gallery {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  position: relative;
  z-index: 1; }
  .homepage-featured-gallery img {
    width: 100%; }
  .homepage-featured-gallery:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90.5%;
    background-color: #875548;
    opacity: 0.5;
    top: 2rem;
    right: 3rem;
    z-index: -1; }
  .homepage-featured-gallery:nth-of-type(2)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90.5%;
    background-color: #708780;
    opacity: 0.5;
    top: 2rem;
    right: 3rem;
    z-index: -1; }
  .homepage-featured-gallery:nth-of-type(3)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90.5%;
    background-color: #3b2e2b;
    opacity: 0.5;
    top: 2rem;
    right: 3rem;
    z-index: -1; }

.homepage-featured-gallery-sub-heading {
  text-align: center;
  margin: 2rem auto 0; }

.homepage-testimonial-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.testimonial-text {
  font-size: 2.5rem;
  width: 70%;
  text-align: center;
  line-height: 2; }

.testimonial-source {
  margin-top: 4rem; }

.homepage-testimonial-section-one {
  background-color: #293c38;
  color: #eff5f6; }

.homepage-testimonial-section-two {
  background-color: #f3edeb;
  color: #293c38;
  background-image: url("/images/splodge.png");
  background-position: 0 -500px;
  background-repeat: no-repeat; }

.homepage-collage-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.homepage-collage-image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.half-width-collage {
  width: 50%; }

.full-width-collage {
  width: 100%; }

.homepage-contact-section {
  background-color: #293c38;
  color: #eff5f6;
  display: flow-root; }

.homepage-contact-form-title {
  padding-bottom: 4rem; }

.homepage-form-container {
  width: 40%;
  margin: 0 auto 4rem; }

.homepage-contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

label {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
  letter-spacing: 0.1rem;
  margin-bottom: 0.7rem; }

.name-input,
.email-input,
.text-area-input,
input[type="submit"] {
  font: inherit;
  border-radius: 5px;
  border: 0;
  padding: 0.7rem 1rem; }

.name-input,
.email-input,
.text-area-input {
  width: 100%; }

.name-input,
.email-input {
  margin-bottom: 4rem; }

input[type="submit"] {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #293c38;
  letter-spacing: 0.1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.7rem;
  margin: 0 auto;
  border-radius: 5px;
  border: none; }

.checkbox-div input {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0;
  top: 1px; }
  .checkbox-div input:before {
    line-height: 1.5em;
    content: '';
    display: inline-block;
    width: .9rem;
    height: .9rem;
    margin-top: -4px;
    margin-left: -4px;
    border: 1px solid #f3edeb;
    border-radius: 0.25em;
    background: #293c38; }
  .checkbox-div input:checked:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 20px;
    color: #eff5f6;
    border-left: 2px solid;
    border-bottom: 2px solid;
    top: -4px;
    left: -1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.checkbox-div label {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  text-transform: none;
  display: inline; }

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0; }
