.services-section {
  color: #293c38;
  padding: 0 15rem 15rem;
  position: relative;
  background-image: url("/images/splodge-rotated-medium.png");
  background-repeat: no-repeat;
  background-position: top center; }

.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15rem; }
  .service-wrapper:nth-of-type(1) .service-image {
    -webkit-box-shadow: 15rem 4rem 0 0 #87544880;
    box-shadow: 15rem 4rem 0 0 #87544880; }
  .service-wrapper:nth-of-type(2) .service-image {
    -webkit-box-shadow: 15rem 4rem 0 0 #70878080;
    box-shadow: 15rem 4rem 0 0 #70878080; }

.service-image-wrapper {
  position: relative;
  margin-right: 4rem; }

.service-image {
  position: relative; }

.service-companion-image {
  position: absolute;
  top: 2rem;
  left: 15rem;
  width: 100%; }

.service-title {
  margin-top: 0;
  line-height: 1; }

.services-details-title {
  text-align: center; }

.services-details-wrapper {
  width: 50%;
  margin: 15rem auto 0; }

.service-text-wrapper {
  position: relative; }

.services-details-wrapper p:first-of-type,
.service-text-wrapper p:first-of-type {
  margin-top: 0; }

.services-details-wrapper p:last-of-type,
.service-text-wrapper p:last-of-type {
  margin-bottom: 0; }
