@-webkit-keyframes height-and-fade {
  100% {
    opacity: 0.9;
    top: 0; } }

@keyframes height-and-fade {
  100% {
    opacity: 0.9;
    top: 0; } }

@-webkit-keyframes slider-text {
  10%,
  96% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: 0; } }

@keyframes slider-text {
  10%,
  96% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: 0; } }

@-webkit-keyframes scroll-reveal {
  0% {
    opacity: 0;
    left: 50px; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes scroll-reveal {
  0% {
    opacity: 0;
    left: 50px; }
  100% {
    opacity: 1;
    left: 0; } }

@-webkit-keyframes wiggle {
  10% {
    -webkit-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg); }
  20% {
    -webkit-transform: rotateZ(20deg);
    transform: rotateZ(20deg); }
  30% {
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg); }
  40% {
    -webkit-transform: rotateZ(15deg);
    transform: rotateZ(15deg); }
  50% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg); }
  60% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg); }
  80%,
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0); } }

@keyframes wiggle {
  10% {
    -webkit-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg); }
  20% {
    -webkit-transform: rotateZ(20deg);
    transform: rotateZ(20deg); }
  30% {
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg); }
  40% {
    -webkit-transform: rotateZ(15deg);
    transform: rotateZ(15deg); }
  50% {
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg); }
  60% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg); }
  80%,
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0); } }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  color: #eff5f6;
  width: 100%;
  margin: 0 auto;
  min-width: 320px; }

.site-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto 0 auto 0 auto;
  grid-template-areas: "h h h h" "m m m m" "f f f f";
  gap: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative; }

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: m; }

.wf-loading body {
  visibility: hidden; }

.wf-active body {
  visibility: visible; }

img {
  display: block; }

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: col;
  flex-direction: col;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-area: h;
  position: relative;
  height: 100vh;
  background-color: #293c38;
  overflow: hidden;
  padding: 4rem;
  z-index: 1; }

.header-logo-wrapper {
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0; }
  .header-logo-wrapper img {
    margin: 0 auto;
    max-width: 100%; }

.main-header-image-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px; }

.main-header-image {
  width: 100%; }

.main-header-text {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: .2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  color: #eff5f6;
  font-size: 4rem;
  margin: 4rem 0 0 4rem;
  word-break: break-word; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: -530px;
  right: -530px;
  background-color: #fff;
  width: 1300px;
  height: 1300px;
  -webkit-clip-path: circle(3.5%);
  clip-path: circle(3.5%);
  z-index: 1;
  -webkit-transition: -webkit-clip-path 1s cubic-bezier(0.57, -0.29, 0.45, 1.31);
  transition: -webkit-clip-path 1s cubic-bezier(0.57, -0.29, 0.45, 1.31);
  -o-transition: clip-path 1s cubic-bezier(0.57, -0.29, 0.45, 1.31);
  transition: clip-path 1s cubic-bezier(0.57, -0.29, 0.45, 1.31);
  transition: clip-path 1s cubic-bezier(0.57, -0.29, 0.45, 1.31), -webkit-clip-path 1s cubic-bezier(0.57, -0.29, 0.45, 1.31); }

.nav-reveal {
  -webkit-clip-path: circle(45%);
  clip-path: circle(45%); }

.main-nav-ul {
  display: none; }

.nav-pull-button {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: .2rem;
  color: #293c38;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: block;
  background-color: #eff5f6;
  border: 0;
  font-size: .9rem;
  padding: 1rem; }

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: f;
  height: 100px; }
