html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #eff5f6;
  width: 100%;
  margin: 0 auto;
  min-width: 320px; }

.site-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto 0 auto 0 auto;
  grid-template-areas: "h h h h" "m m m m" "f f f f";
  gap: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative; }

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: m; }

.wf-loading body {
  visibility: hidden; }

.wf-active body {
  visibility: visible; }

h1,
h2,
h3 {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

h2 {
  padding: 10rem 0;
  margin: 0 auto;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 0.5rem; }

h3 {
  letter-spacing: 0.1rem;
  font-size: 1.5rem; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #293c38; }

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: col;
  flex-direction: col;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-area: h;
  position: relative;
  height: 100vh;
  background-color: #293c38;
  overflow: hidden;
  padding: 0 15rem;
  z-index: 1; }

.header-logo-wrapper {
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0; }
  .header-logo-wrapper img {
    margin: 0 auto;
    max-width: 100%;
    width: 800px; }

.main-header-image-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px; }

.main-header-image {
  width: 100%; }

.main-header-text {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-transform: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  color: #875548;
  font-size: calc(1rem + 1vw);
  margin: 15rem 0 0 4rem;
  word-break: break-word;
  line-height: 1.7;
  letter-spacing: 0.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: -530px;
  right: -530px;
  background-color: #293c38;
  width: 1300px;
  height: 1300px;
  -webkit-clip-path: circle(3.5%);
  clip-path: circle(3.5%);
  -webkit-transition: -webkit-clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
  transition: -webkit-clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
  -o-transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
  transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
  transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2), -webkit-clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
  z-index: 1; }
  .main-nav::before {
    content: "";
    position: absolute;
    background-color: #f3edeb;
    width: 1300px;
    height: 1300px;
    -webkit-clip-path: circle(3.4%);
    clip-path: circle(3.4%);
    z-index: -1;
    -webkit-transition: -webkit-clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
    transition: -webkit-clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
    -o-transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
    transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
    transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2), -webkit-clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2); }

.nav-reveal {
  -webkit-clip-path: circle(45%);
  clip-path: circle(45%);
  z-index: 1; }
  .nav-reveal::before {
    content: "";
    position: absolute;
    background-color: #f3edeb;
    width: 1300px;
    height: 1300px;
    -webkit-clip-path: circle(44.8%);
    clip-path: circle(44.8%);
    z-index: -1; }

.main-nav-ul {
  display: none; }

.nav-pull-button {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #875548;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 900;
  margin: auto;
  display: block;
  background-color: #f3edeb;
  border: 0;
  font-size: 0.9rem;
  padding: 0.3rem 0;
  z-index: 2;
  cursor: pointer; }

.show-on-focus {
  position: absolute;
  color: #293c38;
  background-color: #f3edeb;
  padding: 10px;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .show-on-focus:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto; }

.hide-outline .no-outline {
  outline: none; }

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-area: f;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #293c38;
  padding: 4rem;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-color: #f3edeb;
  background-image: url("/images/splodge.png"), url("/images/splodge.png");
  background-position: 250px -1100px, -450px -250px;
  background-size: cover, 130%;
  background-repeat: no-repeat; }

.footer-promo,
.footer-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-promo p,
  .footer-legal p {
    margin: 0; }

.footer-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 250px;
  margin-bottom: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-legal {
  margin-bottom: 4rem; }

.footer-social-media-icon {
  width: 90px; }
