// =======================================================================================
// ** Colour, font stacks, media queries, that kind of thing.  **
// =======================================================================================

// =========================================
// ** Colours  **
// =========================================

//Branding Colours
$white: #fff;
$light-one: #f3edeb; //Light Background Colour
$light-two: #eff5f6; //Light Font Colour
$dark-green: #293c38;
$dark-brown: #875548;
$dark-grey: #707070;

//Main Font Colours

$light-font-colour: $light-two;
$dark-font-colour: $dark-green;
$heading-colour: $dark-brown;

//Background Colours
$light-background-colour: $light-one;
$dark-background-colour: $dark-green;

//Image shadows
$image-shadow-one: #87544880;
$image-shadow-two: #70878080;
$image-shadow-three: #3b2e2b80;

// =========================================
// ** Typography  **
// =========================================

//********** Font Stacks **********

@mixin heading-font-stack {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: $small-letter-spacing;
}

@mixin font-stack {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 300;
  line-height: $line-height;
}

@mixin mid-font-stack {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: $line-height;
}

@mixin alt-font-stack {
  font-family: "ff-tisa-web-pro", serif;
  font-weight: 300;
  line-height: $line-height;
}

//********** Type Variables & Spacing **********

//Heading Sizes
$h2-size: 4.5rem;
$h3-size: 1.5rem;

//Font Sizing
$extra-large-font-size: 2.5rem;
$large-font-size: 1.5rem;
$smaller-font-size: 1.2rem;
$base-font-size: 1rem;
$small-font-size: .9rem;
$tiny-font-size: .75rem;


//Font Spacing
$h2-spacing-large: 12rem;

//Line Height
$line-height-small: 1.2;
$line-height: 1.5;
$line-height-medium: 1.7;
$line-height-large: 2;

//Letter Spacing
$small-letter-spacing: 0.1rem;
$letter-spacing: 0.2rem;

//********** Mixins **********

//Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }
}

//Fancy Link Underline With Visited styles
@mixin link-underline-visited($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  @include breakpoint(menu) {
    border-bottom: 3px solid transparent;
    text-decoration: underline;
  }

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }

  &:visited {
    border-bottom: 3px solid $link-visited;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }
}

// =========================================
// ** Layout  **
// =========================================

//********** Grid & Flexbox Mixins **********

//Main Grid Mixin
@mixin main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "h h h h"
    "m m m m"
    "f f f f";
  gap: $grid-gap;
}

//Main Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//Mixin Variables
$grid-gap: 0;

//********** Spacing  **********

//Header
$simple-header-height: 175px;
$header-spacing-medium: 7.6rem;

//Sections
$section-spacing-tiny: 1rem;
$section-spacing-small: 2rem;
$section-spacing: 4rem;
$section-spacing-large: 10rem;
$section-spacing-extra-large: 15rem;
$section-spacing-super-size: 20rem;

//Forms
$form-spacing-large: 1rem;
$form-spacing: 0.7rem;

//Other Spacing

// =========================================
// ** Media Queries  **
// =========================================

//********** Alternative Media queries **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

// =========================================
// ** Effects and Animation  **
// =========================================

//********** Animation Stagger Mixin **********

@mixin stagger-anim-delay($elem, $initial-delay, $stagger-delay) {
  @for $i from 1 through $elem {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

//********** Simple Fade-In **********

@keyframes fade-up-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//********** Animation Variables **********

//* Timings
$transition-duration-fast: 0.2s;
$transition-duration: 0.3s;
$transition-duration-slow: 0.7s;

//* Transition Timings
$cubic-one: cubic-bezier(0.45, -0.2, 0.45, 1.2);
$cubic-two: cubic-bezier(0.13, 0.1, 0.12, 0.93);

//* Transition Sizing
$fade-up-distance: $section-spacing-small;

// =========================================
// ** Browser Quirks  **
// =========================================
