// =======================================================================================
// ** Colour, font stacks, media queries, that kind of thing.  **
// =======================================================================================

// =========================================
// ** Media Queries  **
// =========================================

// TODO: Choose one of below

@mixin breakpoint($point) {
  @if $point == 2000 {
    @media (max-width: 2000px) {
      @content;
    }
  }
}

//********** Alternative Media queries **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

// =========================================
// ** Layout  **
// =========================================

//********** Grid $ Flexbox Mixins **********

//Main Grid Mixin
@mixin main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "h h h h"
    "m m m m"
    "f f f f";
  gap: $grid-gap;
}

//Main Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//Mixin Variables
$grid-gap: 0;

//********** Spacing  **********

//Articles

//Sections
$section-spacing: 4rem;

//Forms

//Other Spacing

// =========================================
// ** Typography  **
// =========================================

//********** Font Stacks **********

@mixin heading-font-stack {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-stack {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 300;
  line-height: $line-height;
}

//********** Type Variables & Spacing **********

//Font Sizes
$h2-size: 4.5rem;

//Font Spacing
$h2-spacing-large: 10rem;

//Line Height
$small-line-height: 1.2;
$line-height: 1.5;
$large-line-height: 2;

//********** Mixins **********

//Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }
}

//Fancy Link Underline With Visited styles
@mixin link-underline-visited($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  @include breakpoint(menu) {
    border-bottom: 3px solid transparent;
    text-decoration: underline;
  }

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }

  &:visited {
    border-bottom: 3px solid $link-visited;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }
}

//********** Animation Stagger **********

@mixin stagger-anim-delay($elem, $initial-delay, $stagger-delay) {
  @for $i from 1 through $elem {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

// =========================================
// ** Effects and Animation  **
// =========================================

// =========================================
// ** Variables  **
// =========================================

//********** Colours **********

//Main Font Colours

$light-font-colour: #eff5f6;
$dark-font-colour: #293c38;
$dark-background-colour: $dark-font-colour;

//Link Colours

$main-blue: #486a8d;
$link-colour: #486a8d;

//Background Colours
$light-background-colour: #f3edeb;

//********** Transition Timings**********

$transition-duration: 0.3s ease-in-out 0s;
$transition-duration-fast: 0.2s ease-in-out 0s;
$transition-duration-slow: 0.8s ease-in-out 0s;

// =========================================
// ** Browser Quirks  **
// =========================================
