//*==============================================================================
//** Blog Index, Blog Post and Blog Archive Pages   **
//*==============================================================================

@import "bits";

.blog-main-content {
  color: $dark-font-colour;
}

//*=========================================
//** General Styles  **
//*=========================================

.blog-post-article {
  p {
    font-family: "ff-tisa-web-pro", serif;
    font-weight: 300;
    font-style: normal;
  }
}

.blog-post-title,
.blog-index-page-title {
  font-size: $h2-size;
  text-align: center;
  margin: 0 auto;
  order: 1;
}

.blog-index-page-subtitle,
.blog-categories-li,
.blog-index-title {
  font-size: 1rem;
}

//*=========================================
//** Blog Index  **
//*=========================================

.blog-index-section {
  background-image: url("/images/splodge-rotated-medium.png"),
    url("/images/splodge-rotated-medium.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 0 top -14rem, center center;
}

.blog-index-page-subtitle {
  margin-bottom: $section-spacing;
}

.blog-categories-ul {
  @include flex(row);
  justify-content: space-around;
  margin: 0 $section-spacing-large $section-spacing-large;
  padding: 0;
}

.blog-category-link {
  color: $heading-colour;
  letter-spacing: 0.1rem;
}

.blog-index-container {
  @include flex(column);
}

.blog-categories-li {
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
}

//*=========================================
//** Blog Post  **
//*=========================================

.blog-post-section {
  @include flex(column);
  background-color: $light-background-colour;
  background-image: url("/images/splodge-rotated-medium.png"),
    url("/images/splodge-inverted.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center -10rem, right -30rem bottom -35rem;
  padding: 0 $section-spacing-super-size $section-spacing-large;
  background-size: auto, 100%;
}

.embed {
  width: 100%;
  margin: $section-spacing 0;
}

.blog-general-embed {
  @include flex(column);
  justify-content: center;
  align-items: center;
}

.post-category-paragraph {
  order: 2;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.post-wrapper {
  order: 3;
}

.blog-figure {
  margin: 0;
  width: 100%;
  margin: $section-spacing 0;
}

// Prevents image pushing text down on image load
.blog-post-full-width-image.lazy {
  width: 100%;
  height: 100vh;
  margin: 0;

  &.loaded {
    height: auto;
  }
}

.blog-text-block {
  p {
    font-size: 1rem;
  }
}

.blog-pull-quote {
  margin: $section-spacing 0;
}

.pull-quote-text {
  p {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
}

.pull-quote-citation {
  text-align: center;
}

.blog-post-date-author {
  p {
    text-align: center;
    margin: 0;
  }
}
