//*==============================================================================
//** Gallery Index and Album Pages  **
//*==============================================================================

//********** Import **********
@import "bits";

//*=========================================
//** Galleries Index  **
//*=========================================

.gallery-index-section {
  background-color: $light-background-colour;
  background-image: url("/images/splodge-rotated-medium.png"),
    url("/images/splodge-rotated-medium.png");
  background-repeat: no-repeat;
  background-position: top -5rem center, bottom -25% right -25%;
  padding-bottom: $section-spacing-extra-large;
}

.gallery-index-wrapper {
  @include flex(row);
  flex-wrap: nowrap;
  color: $dark-font-colour;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding-bottom: $section-spacing-large;
  overflow-y: hidden;

  @include horizontal-scrollbar;
}

.gallery-index-album {
  flex: 1 0 auto;
  position: relative;
  width: 25%;
  min-width: 300px;
  margin: 0 $section-spacing;

  img {
    width: 100%;
  }

  &:nth-of-type(3n + 1) {
    img {
      box-shadow: -2rem 2rem 0 0 $image-shadow-one;
    }
  }

  &:nth-of-type(3n + 2) {
    img {
      box-shadow: -2rem 2rem 0 0 $image-shadow-two;
    }
  }

  &:nth-of-type(3n + 3) {
    img {
      box-shadow: -2rem 2rem 0 0 $image-shadow-three;
    }
  }
}

.gallery-index-sub-heading {
  text-align: center;
  margin: 1.5rem auto 0;
  font-size: 1rem;
  background-color: transparent;
}

//*=========================================
//** Gallery Page  **
//*=========================================

.gallery-album-section {
  padding: 0 $section-spacing-extra-large
    calc(#{$section-spacing-extra-large} - #{$section-spacing});
  background-color: $light-background-colour;
}

.gallery-album-image-div {
  width: 100%;
  min-height: 40vh;
}

.gallery-album-image {
  width: 100%;
  margin-bottom: $section-spacing;

  // &:first-of-type {
  //   opacity: 0;
  //   transform: translateY(2rem);
  // }
}
