//*==============================================================================
//** Gallery Index and Album Pages  **
//*==============================================================================

//********** Import **********
@import "bits";

//*=========================================
//** Galleries Index  **
//*=========================================

.gallery-index-section {
  background-color: $light-background-colour;
  background-image: url("/images/splodge-rotated-medium.png"),
    url("/images/splodge-rotated-medium.png");
  background-repeat: no-repeat;
  background-position: top -5rem center, bottom -25% right -25%;
  padding-bottom: $section-spacing-extra-large;
}

.gallery-index-wrapper {
  @include flex(row);
  flex-wrap: nowrap;
  color: $dark-font-colour;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding-bottom: $section-spacing-large;

  @include horizontal-scrollbar;
}

.gallery-index-album {
  flex: 1 0 auto;
  position: relative;
  width: 25%;
  min-width: 300px;
  margin: 0 $section-spacing;
  transform: translateY($section-spacing);

  img {
    width: 100%;
    min-height: 1px;
  }

  // There's a hidden spacer div between below which affects nth numbering
  &:nth-of-type(1) {
    animation-delay: 0.2s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.4s;
  }

  &:nth-of-type(5) {
    animation-delay: 0.6s;
  }

  &:nth-of-type(7) {
    animation-delay: 0.6s;
  }
}

.gallery-index-sub-heading {
  text-align: center;
  width: 100%;
  margin: 0;
  top: 50%;
  font-size: $extra-large-font-size;
}

//*=========================================
//** Gallery Page  **
//*=========================================

.gallery-album-section {
  padding: 0 $section-spacing-extra-large
    calc(#{$section-spacing-extra-large} - #{$section-spacing});
  background-color: $light-background-colour;

  @include breakpoint(1600) {
    padding: 0 $section-spacing-large
      calc(#{$section-spacing-extra-large} - #{$section-spacing});
  }

  @include breakpoint(1300) {
    padding: 0 $section-spacing
      calc(#{$section-spacing-extra-large} - #{$section-spacing});
  }

  @include breakpoint(1100) {
    padding: 0 $section-spacing-small
      calc(#{$section-spacing-extra-large} - #{$section-spacing});
  }

  @include breakpoint(700) {
    padding: 0 $section-spacing-tiny
      calc(#{$section-spacing-extra-large} - #{$section-spacing});
  }
}

.gallery-album-image-div {
  width: 100%;
  min-height: 40vh;
  animation-delay: 0.5s;
  transform: translateY($section-spacing-medium);

  @include breakpoint(800) {
    min-height: 20vh;
  }
}

.gallery-album-image {
  max-width: 100%;
  height: 100%;
  max-height: 95vh;
}

//*=========================================
//** Tiny Slider **
//*=========================================
// Version: 2.9.2

.tns-outer {
  padding: 0 !important; // remove padding: clientWidth = width + padding (0) = width
  [hidden] {
    display: none !important;
  }
  [aria-controls],
  [data-action] {
    cursor: pointer;
  }
}

.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
  > .tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.tns-nav {
  button {
    width: 15px;
    height: 15px;
    transform: scale(0.5);
    border-radius: 60%;
    margin: 10px;
    border: 1px solid #000;
    background-color: #fff;
  }
}

.tns-horizontal {
  &.tns-subpixel {
    white-space: nowrap;
    > .tns-item {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }
  &.tns-no-subpixel {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    > .tns-item {
      float: left;
    }
  }
  &.tns-carousel {
    &.tns-no-subpixel {
      > .tns-item {
        margin-right: -100%;
      }
    }
  }
}
.tns-no-calc {
  position: relative;
  left: 0;
}
.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; // make sure slider container is visible
  // overflow: hidden;
  > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
  }
  > .tns-slide-active {
    position: relative;
    left: auto !important;
  }
  > .tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
}
.tns-autowidth {
  display: inline-block;
}
.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
  &.tns-complete {
    opacity: 1;
  }
}
.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}
.tns-ovh {
  overflow: hidden;
}
.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}
.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}
.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

// *** Fix a viewport issue in initialization
.tns-vpfix {
  white-space: nowrap;
  > div,
  > li {
    display: inline-block;
  }
}

// *** Detecting browser capability ***
$width: 310px;
$height: 10px;
$count: 70;
$perpage: 3;

.tns-t {
  &-subp2 {
    margin: 0 auto;
    width: $width;
    position: relative;
    height: $height;
    overflow: hidden;
  }
  &-ct {
    width: (100% * $count / $perpage);
    width: -webkit-calc(100% * #{$count} / #{$perpage});
    width: -moz-calc(100% * #{$count} / #{$perpage});
    width: calc(100% * #{$count} / #{$perpage});
    position: absolute;
    right: 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    > div {
      width: (100% / $count);
      width: -webkit-calc(100% / #{$count});
      width: -moz-calc(100% / #{$count});
      width: calc(100% / #{$count});
      height: $height;
      float: left;
    }
  }
}

//*=========================================
//** Firefox Styles **
//*=========================================

@-moz-document url-prefix() {
  .gallery-index-section {
    width: 100vw;
    overflow-x: scroll;
  }
}
