//==============================================================================
// ** Homepage Styles  **
//==============================================================================

//********** Imports **********

@import "bits";

// =========================================
// ** Main  **
// =========================================

.homepage-hero-image-section {
  position: relative;
  overflow: hidden;
}

.background-image-wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-hero-image {
  width: 100%;
}

// *=========================================
// ** Featured Gallery  **
// *=========================================

.homepage-featured-galleries-section {
  @include flex(row);
  flex-wrap: wrap;
  color: $dark-font-colour;
  background-color: $light-background-colour;
  min-height: 100vh;
  justify-content: space-around;
  padding: 0 $section-spacing $section-spacing-extra-large;
  background-image: url("/images/splodge-rotated-medium.png");
  background-position: right -50px top -100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.featured-galleries-section-heading {
  flex: 1 1 100%;
}

.homepage-featured-gallery {
  position: relative;
  flex: 0 1 25%;
  position: relative;
  z-index: 0;
  padding-bottom: 5px;

  img {
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90.5%;
    top: 2rem;
    right: 3rem;
    z-index: -1;
    opacity: 0.5;
  }

  &:nth-of-type(1)::after {
    background-color: #875548;
  }

  &:nth-of-type(2)::after {
    background-color: #708780;
  }

  &:nth-of-type(3)::after {
    background-color: #3b2e2b;
  }
}

.homepage-featured-gallery-sub-heading {
  text-align: center;
  margin: 1.5rem auto 0;
  font-size: 1rem;
}

// =========================================
// ** Testimonials  **
// =========================================

.homepage-testimonial-section {
  @include flex(column);
  position: relative;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: $section-spacing-extra-large;
}

.testimonial-text {
  font-size: 2.5rem;
  text-align: center;
  line-height: $line-height-large;
}

.testimonial-source {
  margin-top: $section-spacing;
}

//********** Testimonial One **********

.homepage-testimonial-section-one {
  background-color: $dark-background-colour;
  color: $light-font-colour;
}

//********** Testimonial Two **********

.homepage-testimonial-section-two {
  background-color: $light-background-colour;
  color: $dark-font-colour;
  background-image: url("/images/splodge-rotated-medium.png");
  background-position: right -200px top 50%;
  background-repeat: no-repeat;
}

// =========================================
// ** Homepage Collage  **
// =========================================

.homepage-collage-section {
  @include flex(row);

  flex-wrap: wrap;

  img {
    transition: all 1s ease-out;
    pointer-events: auto;
    width: 100%;
  }

  &:hover {
    img {
      opacity: 0.5;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}

.homepage-collage-image-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
}

.half-width-collage-image-wrapper {
  width: 50%;
}

.full-width-collage-image-wrapper {
  width: 100%;
}

//*=========================================
//** Contact Form  **
//*=========================================

.homepage-contact-section {
  background-color: $dark-background-colour;
  color: $light-font-colour;
  display: flow-root;
}

.homepage-form-container {
  width: 40%;
  margin: 0 auto $section-spacing;
}

.homepage-contact-form {
  @include flex(column);
}

label {
  @include heading-font-stack;
  font-size: 1.2rem;
  display: block;
  letter-spacing: 0.1rem;
  margin-bottom: $form-spacing;
}

.name-input,
.email-input,
.text-area-input,
.submit {
  font: inherit;
  border-radius: 5px;
  border: 0;
  padding: $form-spacing $form-spacing-large;
}

.name-input,
.email-input,
.text-area-input {
  width: 100%;
  border: 3px solid $light-background-colour;
  transition: border 0.2s ease;

  &:focus {
    border: 3px solid #708780;
    outline: none;
  }
}

.name-input,
.email-input {
  margin-bottom: $section-spacing;
}

.text-area-input {
  margin-bottom: $form-spacing;
}

.submit {
  @include heading-font-stack;
  color: $dark-font-colour;
  letter-spacing: 0.1rem;
  width: fit-content;
  padding: 0 $form-spacing;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid $light-background-colour;
  transition: 0.3s all ease;

  &:hover {
    background-color: $dark-background-colour;
    color: $light-font-colour;
  }
}

//********** Checkbox **********
.checkbox-div {
  margin-bottom: $section-spacing;

  input {
    position: relative;
    width: fit-content;
    font-size: 0;
    top: 1px;

    &:before {
      line-height: 1.5em;
      content: "";
      display: inline-block;
      width: 0.9rem;
      height: 0.9rem;
      margin-top: -4px;
      margin-left: -4px;
      border: 1px solid $light-background-colour;
      border-radius: 0.25em;
      background: $dark-background-colour;
    }

    &:after {
      content: "";
      position: absolute;
      height: 7px;
      width: 15px;
      color: $light-font-colour;
      border-left: 2px solid;
      border-bottom: 2px solid;
      top: -1px;
      left: -1px;
      transform: rotate(-25deg) scale(0.75);
      opacity: 0;
      transition: all $transition-duration cubic-bezier(0.18, 1.96, 1, 1.96);
    }

    &:checked:after {
      opacity: 1;
      transform: rotate(-45deg) scale(1);
    }
  }

  label {
    @include font-stack;
    font-size: 1rem;
    text-transform: none;
    display: inline;
  }
}

//********** Honeypot **********

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}
