//==============================================================================
// ** Homepage Styles  **
//==============================================================================

//********** Imports**********

@import "bits";

// =========================================
// ** Main  **
// =========================================

.homepage-hero-image-section {
  position: relative;
  overflow: hidden;
}

.background-image-wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-hero-image {
  width: 100%;
}

// =========================================
// ** Featured Gallery  **
// =========================================

.homepage-featured-galleries-section {
  @include flex(row);
  flex-wrap: wrap;
  color: $dark-font-colour;
  background-color: $light-background-colour;
  min-height: 100vh;
  justify-content: space-around;
  padding: 0 $section-spacing $section-spacing;
  background-image: url("/images/splodge.png");
  background-position: center -500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.featured-galleries-section-heading {
  flex: 1 1 100%;
}

.homepage-featured-gallery {
  flex: 0 1 25%;
  position: relative;
  z-index: 1;

  img {
    width: 100%;
    // object-fit: cover;
  }

  &:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #875548;
    opacity: 0.5;
    top: 2rem;
    right: 3rem;
    z-index: -1;
  }

  &:nth-of-type(2)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #708780;
    opacity: 0.5;
    top: 2rem;
    right: 3rem;
    z-index: -1;
  }

  &:nth-of-type(3)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #3b2e2b;
    opacity: 0.5;
    top: 2rem;
    right: 3rem;
    z-index: -1;
  }
}

.homepage-featured-galleries-sub-heading {
  text-align: center;
}

// =========================================
// ** Testimonial  **
// =========================================
.homepage-testimonial-section {
  @include flex(column);
  position: relative;
  background-color: $dark-background-colour;
  color: $light-font-colour;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: $section-spacing;
}

.testimonial-text {
  font-size: 2.5rem;
  width: 80%;
  text-align: center;
  line-height: $large-line-height;
}

.testimonial-source {
  margin-top: $section-spacing;
}
