//*==============================================================================
//** Legals Page  **
//*==============================================================================

//********** Imports **********

@import "bits";

.legals-section {
  color: $dark-font-colour;
  padding: 0 $section-spacing-super-size $section-spacing-large;
  position: relative;
  background-color: $light-background-colour;

  @include breakpoint(1300) {
    padding: 0 $section-spacing-extra-large $section-spacing-large;
  }

  @include breakpoint(1100) {
    padding: 0 $section-spacing $section-spacing-large;
  }

  @include breakpoint(600) {
    padding: 0 $section-spacing-tiny $section-spacing;
  }
}
