//*==============================================================================
//** Legals Page  **
//*==============================================================================

//********** Imports **********

@import "bits";

.legals-section {
  color: $dark-font-colour;
  padding: 0 $section-spacing-super-size $section-spacing-large;
  position: relative;
  background-color: $light-background-colour;

  h4 {
    text-decoration: underline;
    text-align: center;
  }

  h4,
  p,
  li {
    font-size: $large-font-size;
    font-weight: bold;
  }

  p {
    a {
      color: $dark-brown;
      @include link-underline($dark-brown);
    }
  }

  @include breakpoint(1300) {
    padding: 0 $section-spacing-extra-large $section-spacing-large;

    h4,
    p,
    li {
      font-size: $medium-font-size;
    }
  }

  @include breakpoint(1100) {
    padding: 0 $section-spacing $section-spacing-large;
  }

  @include breakpoint(600) {
    padding: 0 $section-spacing-tiny $section-spacing;

    h4,
    p,
    li {
      font-size: $smaller-font-size;
    }
  }
}
