//==============================================================================
// ** Styles that apply to all pages across the site   **
//==============================================================================

//==============================================================================
// ** Imports  **
//==============================================================================

@import "bits"; //Contains variables, media queries mixins etc.

// =========================================
// ** Wrappers  **
// =========================================

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-stack;
  color: $light-font-colour;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.site-wrapper {
  @include main-grid;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
}

main {
  grid-area: m;
}

//Hiding font till Typekit loads
//TODO: Check if this is still needed
.wf-loading body {
  visibility: hidden;
}

.wf-active body {
  visibility: visible;
}

// =========================================
// ** Content container and block **
// =========================================

//********** Headings**********

h1,
h2,
h3 {
  @include heading-font-stack;
}

h2 {
  padding: $h2-spacing-large 0;
  margin: 0 auto;
  font-size: $h2-size;
  text-align: center;
  letter-spacing: 0.5rem;
}

h3 {
  letter-spacing: 0.1rem;
  font-size: $h3-size;
}

//********** Containers **********

//********** Paragraphs **********

// =========================================
// ** Inline **
// =========================================

//********** Images **********

img {
  display: block;
}

//********** Links **********

a {
  text-decoration: none;
  color: $dark-font-colour;
}

// =========================================
// ** Header  **
// =========================================

header {
  @include flex(col);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-area: h;
  position: relative;
  height: 100vh;
  background-color: #293c38;
  overflow: hidden;
  padding: $section-spacing;
  z-index: 1;
}

.header-logo-wrapper {
  position: absolute;
  top: $section-spacing;
  right: 0;
  left: 0;

  img {
    margin: 0 auto;
    max-width: 100%;
    width: 600px;
  }
}

.main-header-image-wrapper {
  flex: 0 0 500px;
}

.main-header-image {
  width: 100%;
}

.main-header-text {
  @include heading-font-stack;
  flex: 1 1 300px;
  color: $light-font-colour;
  font-size: calc(2rem + 2vw);
  margin: $section-spacing 0 0 $section-spacing;
  word-break: break-word;
  line-height: $small-line-height;
  width: fit-content;
}

// =========================================
// ** Main Nav  **
// =========================================

.main-nav {
  @include flex(column);
  position: fixed;
  top: -530px;
  right: -530px;
  background-color: $dark-font-colour;
  width: 1300px;
  height: 1300px;
  clip-path: circle(4%);
  transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background-color: $light-background-colour;
    width: 1300px;
    height: 1300px;
    clip-path: circle(3.8%);
    z-index: -1;
    transition: clip-path 1s cubic-bezier(0.45, -0.2, 0.45, 1.2);
  }
}

.nav-reveal {
  clip-path: circle(45%);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background-color: $light-background-colour;
    width: 1300px;
    height: 1300px;
    clip-path: circle(44.8%);
    z-index: -1;
  }
}

.main-nav-ul {
  display: none;
}

.nav-pull-button {
  @include heading-font-stack;
  color: $dark-font-colour;
  width: fit-content;
  margin: auto;
  display: block;
  background-color: $light-background-colour;
  border: 0;
  font-size: 0.9rem;
  padding: 0.5rem;
  z-index: 2;
  cursor: pointer;
}

//********** Skip to content link **********
.show-on-focus {
  position: absolute;
  color: $dark-font-colour;
  background-color: $light-background-colour;
  padding: 10px;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

// Hides outline unless tab key is pressed

.hide-outline {
  .no-outline {
    outline: none;
  }
}

// =========================================
// ** Body **
// =========================================

// =========================================
// ** Forms  **
// =========================================

// =========================================
// ** Footer  **
// =========================================

footer {
  @include flex(column);
  grid-area: f;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  color: $dark-font-colour;
  padding: $section-spacing;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-color: $light-background-colour;
  background-image: url("/images/splodge.png"), url("/images/splodge.png");
  background-position: 250px -1100px, -450px -250px;
  background-size: cover, 130%;
  background-repeat: no-repeat;
}

.footer-promo,
.footer-legal {
  @include flex(column);
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

.footer-social-media {
  @include flex(row);
  width: 250px;
  margin-bottom: $section-spacing;
  justify-content: space-between;
}

.footer-legal {
  margin-bottom: $section-spacing;
}

.footer-social-media-icon {
  width: 90px;
}
