// =======================================================================================
// ** Styles that apply to all pages across the site  **
// =======================================================================================

//**************************************** Imports  ****************************************

@import "bits"; //Contains variables, media queries mixins etc.

//******************************************************************************************

// =========================================
// ** Wrappers  **
// =========================================
html {
  font-size: 20px;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  @include font-stack;
  color: $font-colour;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.site-wrapper {
  @include main-grid;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
}

//Hiding font till Typekit loads
.wf-loading body {
  visibility: hidden;
}

.wf-active body {
  visibility: visible;
}

// =========================================
// ** Content container and block **
// =========================================

//********** Headings**********

//********** Containers **********

//********** Paragraphs **********

// =========================================
// ** Inline **
// =========================================

//********** Images **********

//********** Links **********

// =========================================
// ** Header  **
// =========================================

header {
  @include flex(row);
  grid-area: h;
  height: 100vh;
  background-color: #293c38;
  position: relative;

}

.main-header-text {
  @include heading-font-stack;
  color: $light-font-colour;
  font-size: 4rem;
}

// =========================================
// ** Main Nav  **
// =========================================

//TODO: Temporarily hide nav
nav {
  display: none;
}

// =========================================
// ** Body **
// =========================================

// =========================================
// ** Forms  **
// =========================================

// =========================================
// ** Footer  **
// =========================================

footer {
  grid-area: f;
  height: 100px;
}
