//==============================================================================
// ** Styles that apply to all pages across the site   **
//==============================================================================

//==============================================================================
// ** Imports  **
//==============================================================================

@import "bits"; //Contains variables, media queries mixins etc.

// =========================================
// ** Wrappers  **
// =========================================

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-stack;
  color: $light-font-colour;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

.site-wrapper {
  @include main-grid;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
}

//Hiding font till Typekit loads
//TODO: Check if this is still needed
.wf-loading body {
  visibility: hidden;
}

.wf-active body {
  visibility: visible;
}

// =========================================
// ** Content container and block **
// =========================================

//********** Headings **********

h1,
h2,
h3 {
  @include heading-font-stack;
  text-align: center;
}

h2 {
  margin: 0 auto;
  font-size: $h2-size;
  letter-spacing: 0.5rem;
}

h3 {
  letter-spacing: 0.1rem;
  font-size: $h3-size;
}

//********** Containers **********

//********** Paragraphs **********

// =========================================
// ** Inline **
// =========================================

//********** Images **********

img {
  display: block;
}

//********** Links **********

a {
  text-decoration: none;
  color: $dark-font-colour;
}

// =========================================
// ** Header  **
// =========================================

header {
  @include flex(col);
  grid-area: h;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: $dark-background-colour;
}

.main-header {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: $section-spacing-large $section-spacing-extra-large 0;

  @include breakpoint(1600) {
    padding: $section-spacing-large $section-spacing 0;
  }
}

.header-logo-wrapper {
  position: absolute;
  top: $section-spacing-small;
  right: 0;
  left: 0;

  @include breakpoint(1300) {
    top: $form-spacing;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
    width: 800px; //TODO: Change image size in template
  }
}

.main-header-image-wrapper {
  flex: 0 0 500px;

  @include breakpoint(1300) {
    position: relative;
    flex: 0 1 450px;
  }
}

.main-header-image {
  width: 100%;
}

.main-header-text {
  @include heading-font-stack;
  text-transform: none;
  flex: 1 1 300px;
  align-content: center;
  color: $heading-colour;
  font-size: calc(1rem + 2vw);
  margin: 0 0 0 $section-spacing;
  word-break: break-word;
  line-height: $line-height-medium;
  letter-spacing: $letter-spacing;
  width: fit-content;
}

// =========================================
// ** Main Nav  **
// =========================================

.main-nav {
  @include flex(column);
  position: fixed;
  top: -23.75rem;
  right: -23.75rem;
  background-color: $dark-brown;
  width: 1300px;
  height: 1300px;
  clip-path: circle(3.5%);
  transition: clip-path 1s $cubic-one;
  z-index: 1;

  @include breakpoint(1300) {
    top: -23rem;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $light-background-colour;
    width: 1300px;
    height: 1300px;
    clip-path: circle(3.4%);
    z-index: -1;
    transition: clip-path 1s $cubic-one;
  }
}

#main-nav-selected {
  a {
    color: $dark-font-colour;
  }
}

.nav-reveal {
  clip-path: circle(40%);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background-color: $light-background-colour;
    width: 1300px;
    height: 1300px;
    clip-path: circle(39.8%);
    z-index: -1;
  }
}

.main-nav-ul {
  @include flex(column);
  @include heading-font-stack;
  justify-content: flex-start;
  position: fixed;
  top: $header-spacing-medium;
  right: calc(#{$section-spacing-extra-large} - 5rem);
  list-style-type: none;
  color: $heading-colour;
  opacity: 0;
  transform: scale(0.75);
  pointer-events: none;
  width: auto;
  min-width: 10rem;
  margin: 0;
  padding: 0;
  transition: all $transition-duration-slow $cubic-one 0.1s;
}

.main-nav-ul-reveal {
  opacity: 1;
  right: $section-spacing-extra-large;
  transform: scale(1);
  pointer-events: auto;
  transition: all $transition-duration-slow $cubic-one 0.3s;
}

.main-nav-li {
  margin-bottom: $section-spacing-small;
}

.main-nav-link {
  color: $heading-colour;
}

.nav-pull-button {
  @include heading-font-stack;
  color: $heading-colour;
  width: fit-content;
  font-weight: 900;
  margin: auto;
  display: block;
  background-color: transparent;
  border: 0;
  font-size: $small-font-size;
  padding: 0.3rem 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.9s ease 0.45s;
}

.button-hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.9s ease;
}

.menu-closer {
  position: fixed;
  margin: auto;
  top: $header-spacing-medium;
  right: $header-spacing-medium;
  z-index: 100;
  color: #000;
  width: 50px;
  height: 50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.9s ease;
}

.closer-reveal {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.9s ease 0.45s;
}

//********** Skip to content link **********
.show-on-focus {
  position: absolute;
  color: $dark-font-colour;
  background-color: $light-background-colour;
  padding: 10px;
  font-size: $smaller-font-size;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

// Hides outline unless tab key is pressed

.hide-outline {
  .no-outline {
    outline: none;
  }
}

// =========================================
// ** Body **
// =========================================

main {
  grid-area: m;
}

.section-heading {
  padding: $h2-spacing-large 0;
  color: $heading-colour;
}

//********** Fade Up In **********

.fade-up-in {
  opacity: 0;
  transform: translateY($fade-up-distance);
}

.fade-up-in-reveal {
  animation: fade-up-in 1s $cubic-two forwards;
}

// =========================================
// ** Forms  **
// =========================================

// =========================================
// ** Footer  **
// =========================================

footer {
  @include flex(column);
  grid-area: f;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  color: $dark-font-colour;
  padding: $section-spacing;
  font-size: $tiny-font-size;
  letter-spacing: 1px;
  background-color: $light-background-colour;
  background-image: url("/images/splodge-rotated-medium.png");
  background-size: 1000px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-promo,
.footer-legal {
  @include flex(column);
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

.footer-social-media {
  @include flex(row);
  width: 250px;
  margin-bottom: $section-spacing;
  justify-content: space-between;
}

.footer-legal {
  margin-bottom: $section-spacing;
}

.footer-social-media-icon {
  width: 90px;
}

//*=========================================
//** Pages  **
//*=========================================
//Styles that apply to enough other pages to be in here

//********** Simple Header **********

.simple-header {
  justify-content: center;
  align-items: center;
  height: $simple-header-height;
}

.simple-header-submark {
  width: 100px;
}

//*=========================================
//** Contact Form  **
//*=========================================

.general-contact-section {
  background-color: $dark-background-colour;
  color: $light-font-colour;
  display: flow-root;
}

.general-form-container {
  width: 40%;
  margin: 0 auto $section-spacing-extra-large;

  @include breakpoint(1600) {
    width: 55%;
  }
}

.general-contact-form {
  @include flex(column);
}

label {
  @include heading-font-stack;
  font-size: $smaller-font-size;
  display: block;
  letter-spacing: 0.1rem;
  margin-bottom: $form-spacing;
}

.name-input,
.email-input,
.text-area-input,
.submit {
  font: inherit;
  border-radius: 5px;
  border: 0;
  padding: $form-spacing $form-spacing-large;
}

.name-input,
.email-input,
.text-area-input {
  width: 100%;
  border: 3px solid $light-background-colour;
  transition: border $transition-duration ease;

  &:focus {
    border: 3px solid #708780;
    outline: none;
  }
}

.name-input,
.email-input {
  margin-bottom: $section-spacing;
}

.text-area-input {
  margin-bottom: $form-spacing;
}

.submit {
  @include heading-font-stack;
  color: $dark-font-colour;
  letter-spacing: 0.1rem;
  width: fit-content;
  padding: 0 $form-spacing;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid $light-background-colour;
  transition: 0.3s all ease;

  &:hover {
    background-color: $dark-background-colour;
    color: $light-font-colour;
  }
}

//********** Checkbox **********
.checkbox-div {
  margin-bottom: $section-spacing-small;

  input {
    position: relative;
    width: fit-content;
    font-size: 0;
    top: 1px;

    &:before {
      line-height: 1.5em;
      content: "";
      display: inline-block;
      width: 0.9rem;
      height: 0.9rem;
      margin-top: -4px;
      margin-left: -4px;
      border: 1px solid $light-background-colour;
      border-radius: 0.25em;
      background: $dark-background-colour;
    }

    &:after {
      content: "";
      position: absolute;
      height: 7px;
      width: 15px;
      color: $light-font-colour;
      border-left: 2px solid;
      border-bottom: 2px solid;
      top: -1px;
      left: -1px;
      transform: rotate(-25deg) scale(0.75);
      opacity: 0;
      transition: all $transition-duration cubic-bezier(0.18, 1.96, 1, 1.96);
    }

    &:checked:after {
      opacity: 1;
      transform: rotate(-45deg) scale(1);
    }
  }

  label {
    @include font-stack;
    font-size: $base-font-size;
    text-transform: none;
    display: inline;
  }
}

.consent-checkbox-div {
  margin-bottom: $section-spacing;
}

.contact-form-consent {
  a {
    color: $light-font-colour;
    text-decoration: underline;
  }
}

//********** Honeypot **********

.form-identification-number {
  overflow: hidden;
  position: absolute;
  z-index: -10;
  opacity: 0;
}
