<div class="about-me-image-wrapper">
  <img class="about-me-main-image" src="<perch:content id="aboutMeIllustration" type="image" width="1000"/>" alt="<perch:content id="alt" type="text" label="Image description"/>"
    sizes="(max-width:1000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="aboutMeIllustration" width="1000" /> 1000w,
            <perch:content type="image" id="aboutMeIllustration" width="750" /> 750w,
            <perch:content type="image" id="aboutMeIllustration" width="550" /> 550w,
            <perch:content type="image" id="aboutMeIllustration" width="350" /> 350w">
</div>
