  <div class="homepage-mobile-collage-image-wrapper full-width-collage-image-wrapper">
    <img class="homepage-mobile-collage-image full-width-collage lazy" data-src="<perch:content id="collageMobileTwo" type="image" width="1000">" alt="<perch:content id="altMobileTwo">"
    data-sizes="100vh"
    data-srcset="<perch:content type="image" id="collageMobileTwo" width="1000" > 1000w,
                <perch:content type="image" id="collageMobileTwo" width="750" > 750w,
                <perch:content type="image" id="collageMobileTwo" width="500" > 500w">
  </div>