<section class="homepage-hero-image-section rellax" >
  <img class="homepage-hero-image" src="<perch:content id="homepageHeroImage" type="image" width="2000"/>" alt="<perch:content id="alt" type="text" label="Image description"/>"
    sizes="100vw"
    srcset="<perch:content type="image" id="homepageHeroImage" width="2000" /> 2000w,
            <perch:content type="image" id="homepageHeroImage" width="1500" /> 1500w,
            <perch:content type="image" id="homepageHeroImage" width="1000" /> 1000w,
            <perch:content type="image" id="homepageHeroImage" width="350" /> 350w">
</section>
data-rellax-speed="-5"