<img class="homepage-collage-image half-width-collage" src="<perch:content id="collageOne" type="image" width="1500" label="Collage Image One">" alt="<perch:content id="alt" type="text" label="Image description">"
sizes="(max-width:1000px) 100vw, 50vw "
srcset="<perch:content type="image" id="collageOne" width="1500" > 1500w,
<perch:content type="image" id="collageOne" width="1000" > 1000w,
<perch:content type="image" id="collageOne" width="750" > 750w,
<perch:content type="image" id="collageOne" width="550" > 550w" >

<img class="homepage-collage-image half-width-collage" src="<perch:content id="collageTwo" type="image" width="1500" label="Collage Image Two">" alt="<perch:content id="alt" type="text" label="Image description">"
sizes="(max-width:1000px) 100vw, 40vw"
srcset="<perch:content type="image" id="collageTwo" width="1500" > 1500w,
<perch:content type="image" id="collageTwo" width="1000" > 1000w,
<perch:content type="image" id="collageTwo" width="750" > 750w,
<perch:content type="image" id="collageTwo" width="550" > 550w" >

<img class="homepage-collage-image half-width-collage" src="<perch:content id="collageThree" type="image" width="1500" label="Collage Image Three">" alt="<perch:content id="alt" type="text" label="Image description">"
sizes="(max-width:1000px) 100vw, 40vw"
srcset="<perch:content type="image" id="collageThree" width="1500" > 1500w,
<perch:content type="image" id="collageThree" width="1000" > 1000w,
<perch:content type="image" id="collageThree" width="750" > 750w,
<perch:content type="image" id="collageThree" width="550" > 550w" >

<img class="homepage-collage-image half-width-collage" src="<perch:content id="collageFour" type="image" width="1500" label="Collage Four">" alt="<perch:content id="alt" type="text" label="Image description">"
sizes="(max-width:1000px) 100vw, 40vw"
srcset="<perch:content type="image" id="collageFour" width="1500" > 1500w,
<perch:content type="image" id="collageFour" width="1000" > 1000w,
<perch:content type="image" id="collageFour" width="750" > 750w,
<perch:content type="image" id="collageFour" width="550" > 550w" >

<img class="homepage-collage-image full-width-collage" src="<perch:content id="collageFive" type="image" width="2000" label="Collage Five">" alt="<perch:content id="alt" type="text" label="Image description">"
sizes="100vh"
srcset="<perch:content type="image" id="collageFive" width="2000" > 2000w,
<perch:content type="image" id="collageFive" width="1500" > 1500w,
<perch:content type="image" id="collageFive" width="1100" > 1100w,
<perch:content type="image" id="collageFive" width="750" > 750w,
<perch:content type="image" id="collageFive" width="500" > 500w" >