<style>
  .background-image-wrapper {
  background-image:url("<perch:content id="homepageHeroBackgroundImage" type="image" label="Homepage Image">");
  }
  @media only screen and (max-width: 1920px) {
  .background-image-wrapper {
  background-image:url("<perch:content id="homepageHeroBackgroundImage" type="image" width="1920">");
  }
  }
  @media only screen and (max-width: 1366px) {
  .background-image-wrapper {
  background-image:url("<perch:content id="homepageHeroBackgroundImage" type="image" width="1366">");
  }
  }
  @media only screen and (max-width: 640px) {
  .background-image-wrapper {
  background-image:url("<perch:content id="homepageHeroBackgroundImage" type="image" width="640">");
  }
  }
</style>
