<div class="header-logo-wrapper">
  <img class="main-logo" src="<perch:content id="mainLogo" type="image" width="2000" label="Main Logo">" alt="<perch:content id="alt" type="text" label="Image description">"
  sizes="100vw"
  srcset="<perch:content type="image" id="mainLogo" width="2000" > 2000w,
  <perch:content type="image" id="mainLogo" width="1400" > 1400w,
  <perch:content type="image" id="mainLogo" width="1000" > 1000w,
  <perch:content type="image" id="mainLogo" width="800" > 800w,
  <perch:content type="image" id="mainLogo" width="650" > 650w" >
</div>