<div class="main-header-image-wrapper">
  <img class="main-header-image" src="<perch:content id="mainHeaderImage" type="image" width="1000"/>" alt="<perch:content id="alt" type="text" label="Image description"/>"
    sizes="(max-width:1000px) 100vw, 40vw"
    srcset="<perch:content type="image" id="mainHeaderImage" width="1000" /> 1000w,
            <perch:content type="image" id="mainHeaderImage" width="750" /> 750w,
            <perch:content type="image" id="mainHeaderImage" width="550" /> 550w,
            <perch:content type="image" id="mainHeaderImage" width="350" /> 350w">
</div>
