<div class="header-submark-wrapper">
  <a href="/" class="header-submark-link">
    <img class="simple-header-submark" src="<perch:content id="simpleHeaderSubmark" type="image" width="500" label="Submark Logo">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="(max-width:750) 30vw, 10vw"
    srcset="<perch:content type="image" id="simpleHeaderSubmark" width="500" > 500w,
    <perch:content type="image" id="simpleHeaderSubmark" width="300" > 300w,
    <perch:content type="image" id="simpleHeaderSubmark" width="150" > 150w" >
  </a>
</div>