<div class="homepage-featured-gallery fade-up-in">
  <!-- TODO: Is having a link here bad UX? -->
  <a href="/gallery/<perch:gallery id="albumSlug">">

        <img class="gallery-index-image homepage-featured-gallery-image lazy" data-src="<perch:gallery id="indexLarge" type="image" crop>" alt="<perch:gallery id="image-alt">"
        data-sizes="(max-width:600px) 90vw, (max-width:1000px) 50vw,(max-width:1300px) 40vw, 30vw"
    	  data-srcset="<perch:gallery type="image" id="indexLarge" crop> 800w,
                      <perch:gallery type="image" id="indexMedium" crop> 600w,
                      <perch:gallery type="image" id="indexSmall" crop> 400w" >
    </a>

  <h3 class="homepage-featured-gallery-sub-heading">
    <a class="homepage-gallery-link"  href="/gallery/<perch:gallery id="albumSlug">"><perch:gallery id="albumTitle"></a>
  </h3>
</div>

