<div class="homepage-featured-gallery fade-up-in" data-offset-bottom="250">
  <a href="/gallery/album.php?s=<perch:gallery id="albumSlug">">

        <img class="gallery-index-image lazy" data-src="<perch:gallery id="indexLarge" type="image"/>" alt="<perch:gallery id="image-alt" />"
        data-sizes="(max-width:1000px) 100vw, 30vw"
    	  data-srcset="<perch:gallery type="image" id="indexLarge" /> 1600w,
                <perch:gallery type="image" id="indexMedium" /> 1100w,
                <perch:gallery type="image" id="indexSmall" /> 700w" >
    </a>

  <h3 class="homepage-featured-gallery-sub-heading">
    <a class="homepage-gallery-link"  href="/gallery/album.php?s=<perch:gallery id="albumSlug">"><perch:gallery id="albumTitle"></a>
  </h3>
</div>

