<!-- Responsive options -->
<perch:gallery id="image" type="image" key="imageOne" width="2000" />
<perch:gallery id="image" type="image" key="imageTwo" width="1600" />
<perch:gallery id="image" type="image" key="imageThree" width="1100" />
<perch:gallery id="image" type="image" key="imageFour" width="600" />

<!-- Index Images - Aspect ratio 2 : 3 vertical -->
<perch:gallery id="image" type="image" key="indexLarge" width="1000" height="1500" crop>
<perch:gallery id="image" type="image" key="indexMedium" width="750" height="1125" crop>
<perch:gallery id="image" type="image" key="indexSmall" width="500" height="750" crop>

<!-- Admin Thumbnail -->
<perch:gallery id="image" type="image" key="thumb" width="30" height="30" crop="true">
<!-- Image alt -->
<perch:gallery id="image-alt" type="text" size="m" label="Short Image Description">
<
