<perch:before>
    <ul class="main-nav-ul" :class="{'main-nav-ul-reveal': navPull}">
</perch:before>
		<li class="main-nav-li<perch:if exists="ancestor_page"> ancestor</perch:if>" id="<perch:if exists="current_page">main-nav-selected</perch:if>">
            <a class="main-nav-link" href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
        </li>
<perch:after>
    </ul>
    <button class="nav-pull-button no-outline" id="pull" @click="navPull = !navPull" :class="{'button-hide': navPull}" @click="navPull = !navPull" >Menu</button>
    <img class="menu-closer" src="/images/menu-closer.png" @click="navPull = !navPull" :class="{'closer-reveal': navPull}">
</perch:after>